<body>
    <header>
        <h1>Les Grands Rois de la Dynastie Capétienne</h1>
        <nav>
            <ul id="menu">
                <li><a class="nav-links active" href="/">Les Capétiens</a></li>
                <li><a class="nav-links" href="/Huguescapet">Hugues Capet</a></li>
                <li><a class="nav-links" href="/PhilippeAuguste">Philippe II Auguste</a></li>
                <li><a class="nav-links" href="/SaintLouis">Louis IX dit Saint-Louis</a></li>
                <li><a class="nav-links" href="/Lebelphilippe">Philippe IV Le Bel</a></li>
                <li><a class="nav-links" href="/Formulaire">Formulaire</a></li>
            </ul>
        </nav>

        <div class="horloge">
            <h2 id="clock"></h2>
            <p id="hex-color"></p>
        </div>

    </header>

    <main>