<% include partials/head %>

<% include partials/header %>

<section class="form">

    <form action="" method="">

        <p id="formulaire">
          <label for="lastname">Nom</label><br><input type="text" name="user_lastname" id="lastname" required><br>
          <label for="firstname">Prenom</label><br><input type="text" name="user_firstname" id="firstname" required><br>
          <label for="birthday">Date de Naissance</label><br><input type="date" name="user_birthday" id="birthday" required><br>
          <label for="adress">Adresse</label><br><input type="text" name="user_adress" id="adress" required><br>
          <label for="zipcode">Code Postal</label><br><input type="text" name="user_location" id="zipcode" required><br>
          <label for="city">Ville</label><br><input type="text" name="user_city" id="city" required><br>
          <label for="mail">Adresse Mail</label><br><input type="email" name="user_mail" id="mail" required><br>
          <label for="phone">Telephone</label><br><input type="tel" name="user_phone" id="phone" required><br>
          <input type="submit" value="Envoyer">
        </p>

    </form>

</section>

<% include partials/footer %>