* {
  font-family: 'Roboto', sans-serif;
  background-color: #d8a927;
}

body {
  
}

h1 {
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  font-size: 3em;
  background-color: black;
  color: white;
}

h2 {
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  font-size: 2em;
}

p {
  text-indent: 5%; 
}

img {
  max-width : 50%;
  height: auto;
  display: block;
  border: 1px solid black;
  margin: 0 auto;
}


/* Header */


header {
  border: 1px solid black;
  border-radius: 20px 20px 20px 20px;
  background-color: black;
}


/* Navigation */


nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  background-color: black;
}


nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  background-color: black;
}

nav a:hover {
  color: brown;
  border-bottom: 2px solid brown;
}

.active {
  color: brown;
  border-bottom: 2px solid brown;
}


/* Main */

main {

}

.presentation {
 
}

.presentation_generale {

}

.horloge {
float: right;
border: 1px solid black;
border-radius: 20px 20px 20px 20px;
background-color: white;
}

#clock {
font-weight: 700;
font-size: 2rem;
background-color: white;
}
#hex-color {
font-size: 1.2rem;
color: rgb(0, 0, 0);
font-weight: 600;
display: none;
}

/* Cube */

.cube {
  display: flex;
  flex-direction: column;
}

.art12 {
  display: flex;
  
}

.art1 {
  overflow: hidden;
  height: ;
  width: ;
  flex: 1;
  padding: 1%;
}

.art2 {
  overflow: hidden;
  height: ;
  width: ;
  flex: 1;
  padding: 1%;
}

.art34 {
  display: flex;
}

.art3 {
  overflow: hidden;
  height: ;
  width: ;
  flex: 1;
  padding: 1%;
}

.art4 {
  overflow: hidden;
  height: ;
  width: ;
  flex: 1;
  padding: 1%;
}

#formulaire {
  text-align: center;
  border: 3px solid white;
  box-shadow: 5px 5px 5px white;
  padding: 3%;
}

.rubrique {
  text-align: center;
  margin: 0 auto;
}


/* Slider */

.slider {
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Slide Automatique */

.slideauto {
    width: 40%;
    height: 30%;
}

/* Responsive */

@media all and (max-width: 1024px) {
  img {
      max-width : 100%;
      height: auto;
      display: block;
      text-align: center;
  }

  header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  #menu{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width:100%;

  }
}